.App {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

.App .ticker-container {
  font-size: x-large;
  font-weight: bold;
  width: fit-content;
  margin-top: 20px;
}

.App .ticker-container span{
  font-size: large;
  font-weight: 400;
  margin-left: 5px;
}